* {
    font-family: sans-serif;
}

#total_amount {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}

#bucket {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto);
    gap: 20px 40px;
}

#coffeebox {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding-bottom: 20px;
}

#coffeebox>h4 {
    padding-left: 15px;
}

#coffeebox>p {
    padding-left: 15px;
}

#coffeebox>button {
    margin-left: 15px;
    border-radius: 5px;
    width: 30%;
    height: 30px;
    font-size: 14px;
    background-color: coral;
    border-color: coral;
    cursor: pointer;
}

#coffeebox>button:hover {
    background-color: rgb(255, 110, 58);
    border-color: rgb(255, 110, 58);
    color: white;
}

#coffeeImage {
    width: 100%;
    height: 280px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#confirm_checkout {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 15%;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    background-color: cornflowerblue;
    cursor: pointer;
    font-weight: bold;
}

#confirm_checkout:hover {
    background-color: rgb(46, 110, 230);
    border-color: orange;
    color: white;
}